.cardsContainer {
  padding: 1rem;
  background-color: aliceblue;
  color: black;
  box-shadow: 0 0 10px 2px rgba(13, 13, 13, 0.1);
  border-radius: 5px;
}
.cardsContainer > * {
  margin-bottom: 1rem;
}
.card {
  display: flex;
  color: rgb(1, 5, 11);
  padding: 0.5rem;
  align-items: center;
  border-bottom: 1px solid rgba(13, 13, 13, 0.25);
}
.card img {
  width: 50px;
  height: 50px;
  border-radius: 100vh;
}
.card p {
  flex: 1;
  padding: 0.5rem;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.cardHeader {
  display: flex;
  color: rgb(236 238 241);
  background-color: #1f578e;
  padding: 0.5rem;
}
.cardHeader p {
  flex: 1;
  padding: 0.5rem;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.card p:nth-child(1),
.cardHeader p:nth-child(1) {
  flex: 0.5;
}
.new {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  font-size: 1em;
  color: rgb(236 238 241);
  background-color: #1f578e;
  border-radius: 5px;
  /* border: none; */
  border: 1px solid black;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.card p.action {
  text-wrap: initial;
}
.action img {
  height: 30px;
  width: 30px;
  border-radius: initial;
}
.action button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.action a {
  margin-inline: 0.5rem;
}
@media (max-width: 576px) {
  .cardHeader :nth-child(1),
  .cardHeader :nth-child(4),
  .cardHeader :nth-child(5),
  .cardHeader :nth-child(6) {
    display: none;
  }
  .card p:nth-child(1) {
    display: none;
  }
  .card :nth-child(4),
  .card :nth-child(5),
  .card :nth-child(6) {
    display: none;
  }
}
@media (max-width: 990px) {
  .card p:nth-child(5),
  .cardHeader :nth-child(5) {
    display: none;
  }
  .card :nth-child(5) {
    display: flex;
  }
}
