.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 10% 90%;
  /* grid-template-areas: ""; */
}
.header {
  /* grid-area: header; */
  background-color: rgb(65, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: whitesmoke;
  display: flex;
}
.header span {
  flex: 1;
  display: flex;
  gap: 0.5rem;
}
.header h3 {
  flex: 3;
}
.header button {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #a5a6a6;
  color: white;
  cursor: pointer;
  transition: ease-in 100ms;
}
.header a {
  text-decoration: none;
  color: white;
}
.header button:hover {
  scale: 1.1;
  box-shadow: 0 0 5px 5px rgba(13, 13, 13, 13, 0.4);
}
.main {
  /* grid-area: main; */
  background-color: rgb(165, 166, 166);
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
