.info {
  display: flex;
  border-bottom: 1px solid rgba(14, 13, 13, 0.2);
  /* box-shadow: 0 0 1px 0.2px rgba(14, 13, 13, 0.2); */
  height: 5rem;
  justify-content: space-between;
  align-items: center;
}
.profilePhoto {
  height: 10rem;
}
.photoContainer {
  /* border-radius: 100vh; */
  border-bottom: 1px solid rgba(14, 13, 13, 0.2);
  display: flex;
  justify-content: center;
}
.userInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  /* grid-auto-rows: ; */
}
.userInfo > * {
  height: 5rem;
  font-size: 1rem;
}
.userInfo > div {
  padding: 0.5rem;
}
.userValue {
  border: 1px solid grey;
  border-radius: 25px;
  padding: 1rem;
  margin-top: 0.5rem;
}
.userValue:empty {
  height: 3.5rem;
}
@media (max-width: 576px) {
}
@media (max-width: 990px) {
}
@media (max-width: 1200px) {
}
