.info {
  display: flex;
  border-bottom: 1px solid rgba(14, 13, 13, 0.2);
  /* box-shadow: 0 0 1px 0.2px rgba(14, 13, 13, 0.2); */
  height: 5rem;
  justify-content: space-between;
  align-items: center;
}
.profilePhoto {
  height: 10rem;
}
.userProfile {
  /* position: relative; */
  width: 150px;
  /* border-radius: 100vh; */
}
.userProfile img {
  /* width: 132px; */
  /* border-radius: 100vh; */
  /* position: absolute; */
  z-index: 2;
}
.userProfile div {
  height: 150px;
  width: 150px;
  background-color: rgb(240, 235, 235);
  /* position: absolute; */
  z-index: 1;
}
.photoContainer {
  /* border-radius: 100vh; */
  border-bottom: 1px solid rgba(14, 13, 13, 0.2);
}
.userInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  /* grid-auto-rows: ; */
}
.userInfo > * {
  height: 5rem;
  font-size: 1rem;
}
.userInfo > div {
  padding: 0.5rem;
}
.userValue {
  border: 1px solid grey;
  border-radius: 25px;
  padding: 1rem;
  margin-top: 0.5rem;
}
